<!DOCTYPE html>
<html lang="ru">
<head>
  {{> head}}
</head>
<header class="header page__header">
  {{> menu}}
</header>

<body class="page">
{{> contact}}
</body>

<footer class="page__footer">
  {{> footer}}
</footer>

</html>