<section class="content__page">
  <div class="chat" id="chat">
    <div>
      <input id="message" type="text" required />
      <button onclick="send()">Send</button>
    </div>
    <div>
      <ul id="sent_message"></ul>
    </div>
  </div>


  <script src="https://cdn.socket.io/4.5.0/socket.io.min.js"
          integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k"
          crossorigin="anonymous"></script>

<script src="JS/app.js"></script>
</section>