 <section class="content__page">
    <ul>
      <li class="contact__link">
        <a href="mailto:lyizawell@gmail.com<" class="contact__a">
          lyizawell@gmail.com</a>
      </li>
      <li class="contact__link">
        <a href="https://github.com/BlackFairyL" class="contact__a">
          github.com</a>
      </li>
      <li class="contact__link">
        <a href="tel: +7919300824" class="contact__a">+7 (919) 300-82-84</a>
      </li>
    </ul>
  </section>