<main class='main page__main'>
  <section class='content content__page__main'>
    <p class='content__hello'>Привет! <br /> Я QA-инженер в желтом банке</p>
    <img src='image/my_photo.jpg' class='content__image' />
  </section>
</main>