<nav id='my_menu'>
    <ul class='menu'>
      <li class='menu__link'><a
          href='/'
          class='menu__a'
          id='menu__a__id'
        >Главная</a></li>
      <li class='menu__link'><a
          href='about_me'
          class='menu__a'
          id='menu__a__id'
        >Обо мне</a></li>
      <li class='menu__link'><a
          href='contact'
          class='menu__a'
          id='menu__a__id'
        >Контакты</a></li>
      <li class='menu__link'><a
        href='feedback'
        class='menu__a'
        id='menu__a__id'
      >Отзывы</a></li>
      <li class='menu__link'><a
        href='chat'
        class='menu__a'
        id='menu__a__id'
      >Чат</a></li>
{{#unless signed_in}}
      <button type="submit" class="button_login" onclick="openForm()">Войти</button>
    <li class='menu__link__reg'><a
      href='registration'
      class='menu__a'
      id='menu__a__id'
    >Регистрация</a></li>
    </ul>
{{else}}
  <button type="submit" class="button_login" onclick="closeSession()">Выйти</button>
{{/unless}}
  </nav>

{{> form_login}}
