<section class="content__page">
  <div class="constructor">
    <form id="regform" onsubmit="return false">
      <h3 class="text-center">Форма регистрации входа</h3>
      <div class="form-group">
        <input class="item" type="email" name="email" id="email_reg" placeholder="Email" required>
      </div>
      <div class="form-group">
        <input class="item" type="password" name="Пароль" minlength="6" id="password_reg" placeholder="Пароль" required>
      </div>
      <div class="form-group">
        <input class="item" type="password" name="Пароль" minlength="6" id="password_reg_two" placeholder="Повторите пароль" required>
      </div>
      <div class="error" id="error_form"> Пароли не совпадают</div>
      <div class="form-group">
        <button class="create-account" type="submit" id="reg">Регистрация</button>
      </div>
    </form>
  </div>
</section>